#  Dependensi Python tambahan untuk Firebase Admin SDK
#  Jalankan: pip install -r requirements_additions.txt
flask
flask-cors
flask-socketio
redis
psycopg2-binary
pandas
numpy
joblib
scikit-learn==1.6.1
firebase-admin
google-auth
RPi.GPIO
pyserial